:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand: #819b57;
  --color-secondary-dark: #465929;
  --color-secondary-brown: #a18268;
  --color-secondary-light: #cfcfbc;
}

/* Base */

body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */

.btn-order {
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  background-color: var(--color-brand);
  color: var(--color-primary-light);
}

.btn-order:hover {
  color: var(--color-secondary-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand);
}
